*{
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 12px;
    box-sizing: border-box;
}
#file-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.file-list-item{
    display: flex;
    width: 100%; 
    align-items: center;
    border-top: 1px solid rgb(153, 153, 153);
    padding: 5px;
}
.not-relevant{
    color: rgb(133, 133, 133);
}
.is-being-generated{
    color: #2F85F9;
    font-style: italic;
}
.file-list-item:hover{
    background-color: rgba(155, 202, 247, 0.603);
    cursor: pointer;
}
.file-list-item span{
    margin: 2px;
    display: flex;
    align-items: center;
    word-break: break-all;
}
.file-list-item-number{
    flex: 1;
}
.file-list-item-name{
    flex: 9;
}
.file-list-item-approved{
    flex: 1;
    color: #388C4D;

}
.file-list-item-office365{
    flex: 1;
}
.file-list-item-office365 img{
    width: 16px;
    height: 16px;
    content:url(https://www.youmobile.org/pic/img/Office-2013_15_png_icon.png);
}